/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


ul, li , input, button{ 
  padding: 0;
  margin: 0;
  font-family: inherit;
}

@font-face { 
    font-family: "MonoSpace-Bold";
    src: url("./fonts/SpaceMono-Bold.woff2");
    font-display: swap;
    font-weight: 700; 
}

:root { 
    /* ### Primary */
    --Green-400: hsl(172, 67%, 45%); 
    /* ### Neutral */
    --Green-900: hsl(183, 100%, 15%);
    --Grey-500: hsl(186, 14%, 43%);
    --Grey-400: hsl(184, 14%, 56%);
    --Grey-200: hsl(185, 41%, 84%);
    --Grey-50: hsl(189, 47%, 97%);
    --White: hsl(0, 100%, 100%);
}


body { 
  font-family: "MonoSpace-Bold";
  background-color: var(--Grey-200);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.container { 
  display: flex;
  flex-direction: column; 
  gap: 2rem;
  background-color: var(--White);
  padding: 2rem;
  border-radius: 1rem;
  width: 800px;
}

.right-side { 
  flex-basis: 50%;
}
.left-side { 
  padding: 1em;
}

.label-bill { 
  display: flex;
  flex-direction: column;
  gap: .3em;
  color: var(--Grey-500);
  position: relative;
  margin-bottom: 1em; 
}

.label-bill::before { 
  content: url("./images/icon-dollar.svg");
  position: absolute;
  top: 60%;
  left: 3%;
  z-index: 1;
}

.user-bill-input {
  position: relative; 
  border: 2px solid transparent;
  outline: none;
  background-color: var(--Grey-50);
  width: 100%;
  color: var(--Green-900);
  font-size: 1.5rem;
  text-align: right;
  padding: .2em;
}

.user-bill-input:active, .user-bill-input:hover { 
  border: 2px solid var(--Green-400); 
  cursor: pointer;
}

.select-tip-label { 
  margin-bottom: .5em;
  color: var(--Grey-500);
}

.tip-buttons-grid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .7rem; 
  margin-bottom: 1em;
}

.select-tip-button { 
  background-color: var(--Green-900);
  color: var(--White);
  border: none;
  padding: .2rem .3rem;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.select-tip-button:hover { 
  background-color: var(--Green-400);
}

.user-tip-input { 
  width: 100%;
}



@media(min-width: 750px) { 
  .container { 
    flex-direction: row;
  }

  .tip-buttons-grid { 
    grid-template-columns: repeat(3, 1fr);
  }
}


